<!DOCTYPE html>
<html lang="en">
    <head>
        <!--headPart-->
        <%- include('./partials/_headPart') %>
        <!--/headPart-->
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/error.css">
    </head>
    <body>
        <div class="container">
            <div class="mensaje">
                <div><i class="fas fa-cogs icono"></i></div>
                <h1>Oops!</h1>
                <h2>404 - Pagina no encontrada</h2>
                <p>La página que estas buscando no está disponible o ha sido removida</p>
                <button class="boton-inicio" type="button" onclick="window.location='/'">Inicio</button>
            </div>
        </div>
    </body>
</html>