<!DOCTYPE html>
<html lang="en">
    <head>
        <!--headPart-->
        <%- include('./partials/_headPart') %>
        <!--/headPart-->
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/products.css">
    </head>
    <body>

        <!--header-->
        <%- include('./partials/_header') %>
        <!--/header-->

        <main>

            <section class="todos-productos">
                <h2>Todos los productos</h2>
                <hr>
                <div class="container-articulos">
                <% productList.forEach(product => { %>
                    <!--productCard-->
                    <%- include('./partials/_productCard', {product}) %>
                    <!--/productCard-->
                <% }); %>
                </div>
            </section>

        </main>

        <!--footer-->
        <%- include('./partials/_footer') %>
        <!--/footer-->

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/js/cartEffectCard.js"></script>
    </body>
</html>