<!DOCTYPE html>
<html lang="en">
    <head>
        <!--headPart-->
        <%- include('./partials/_headPart') %>
        <!--/headPart-->
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/aboutUs.css">
    </head>
    <body>

        <!--header-->
        <%- include('./partials/_header') %>
        <!--/header-->

        <main>

            <section class="carrito">
                
                <div class="carrito-titulo">
                    <h2 class="texto-carrito-titulo">Términos y Condiciones</h2>
                </div>
                <hr>

                <div class="container">             <!--Informacion-->
                    <div class="mensaje" id="medios-de-pago">
                        <div><i class="fas fa-credit-card icono"></i></div>
                        <h3>Medios de Pago</h3>
                        <p>Rooster Music acepta varios métodos de pago.</p>
                        <p>Tarjeta de crédito Visa, Mastercard, Cabal</p>
                        <p>Tajeta de débito</p>
                        <p>Mercado Pago y QR</p>
                        <p>Rooster Music se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime pertinentes para obtener el pago del monto debido.</p>
                        <p>Rooster Music podrá modificar temporalmente la Política de Tarifas y las tarifas por sus servicios por razón de promociones, siendo efectivas estas modificaciones cuando se haga pública la promoción o se realice el anuncio.</p>
                    </div>
                </div>

                <div class="container">             <!--Informacion-->
                    <div class="mensaje" id="envios">
                        <div><i class="fas fa-archive icono"></i></div>
                        <h3>Envios</h3>
                        <p>Rooster Music realiza envíos a diferentes zonas del pais.</p>
                        <p>El envío de realiza dentro de un plazo estimado el cual está sujeto a modificaciones.</p>
                        <p>El envío se encuentra indicado al momento de realizar la compra.</p>
                        <p>Adicionalmente a las opciones de entrega disponibles, el Usuario vendedor podrá ofrecer otras opciones de entrega o retiro directo que pueda acordar el Usuario vendedor con el Usuario comprador. En la plataforma de Rooster Music no existirá la posibilidad de elegir entre otras opciones de entrega distintas a las antes mencionadas.</p>
                        <p>Con el objetivo de mejorar la experiencia de los Usuarios, las ventas que cumplan ciertos requisitos objetivos relacionados con un volúmen mínimo de ventas y de ubicación geográfica, podrán ser incluidos exclusivamente en una determinada opción de entrega.</p>
                    </div>
                </div>

                <div class="container" id="devoluciones">             <!--Informacion-->
                    <div class="mensaje">
                        <div><i class="fas fa-exchange-alt icono"></i></div>
                        <h3>Devoluciones</h3>
                        <p>El vendedor acepta que su comprador puede revocar la compra dentro de un plazo de 10 días desde que recibe el producto.</p>
                        <p>Asimismo, el vendedor acepta que los compradores podrán pedir la devolución del producto en los términos de los programas de Compra Protegida.</p>
                        <p>En cualquiera de los mencionados casos, el vendedor deberá aceptar la devolución del producto vendido y deberá hacerse cargo de los gastos que esto conlleve, incluyendo los costos de envío que fueren necesarios.</p>
                        <p>El precio será reintegrado a su comprador cuando el servicio contratado no sea efectivamente prestado o sea cancelado hasta la fecha en que debió prestarse.</p>
                    </div>
                </div>

            </section>

        </main>

        <!--footer-->
        <%- include('./partials/_footer') %>
        <!--/footer-->
    </body>
</html>