<!DOCTYPE html>
<html lang="en">
    <head>
        <!--headPart-->
        <%- include('./partials/_headPart') %>
        <!--/headPart-->
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/crud.css">
    </head>
    <body>

        <!--header-->
        <%- include('./partials/_header') %>
        <!--/header-->

        <main>

            <section class="crud">
                
                <h2 class="texto-crud">EDICION DE PRODUCTOS</h2>
                <hr>
                <form action="/crud" method="POST" class="formulario">
                    <h3 class="texto-formulario">Edite su producto</h3>
                    <div class="container-inputs">
                        <div class="inputs-1">
                            <div class="elemento">
                                <input type="text" name="nombre" class="control" placeholder="Nombre">
                            </div>
                            <div class="elemento">
                                <input type="text" name="descripcion" class="control" placeholder="Descripción">
                            </div>
                            <div class="elemento">
                                <input type="number" name="precio" class="control" placeholder="Precio">
                            </div>
                        </div>
                        <div class="inputs-2">
                            <div class="elemento">
                                <input type="text" name="marca" class="control" placeholder="Marca">
                            </div>
                            <div class="elemento">
                                <input type="text" name="modelo" class="control" placeholder="Modelo">
                            </div>
                            <div class="elemento">
                                <select name="categoria" class="control" required>
                                    <option value="" disabled selected hidden>Seleccione la categoría</option>
                                    <option value="GUITARRA">Guitarra</option>
                                    <option value="BAJO">Bajo</option>
                                    <option value="BATERIA">Batería</option>
                                    <option value="UKELELE">Ukelele</option>
                                    <option value="VIENTO">Viento</option>
                                    <option value="AUDIO">Audio</option>
                                    <option value="GRABACION">Grabación</option>
                                    <option value="TECLADO">Teclado</option>
                                </select>
                            </div>
                        </div>
                        <div class="inputs-3">
                            <div class="elemento">
                                <input type="text" name="color" class="control" placeholder="Color">
                            </div>
                            <div class="elemento">
                                <input type="text" name="material" class="control" placeholder="Material">
                            </div>
                            <div class="elemento">
                                <input type="text" name="origen" class="control" placeholder="Origen">
                            </div>
                        </div>
                        <div class="inputs-4">
                            <div class="elemento">
                                <input type="text" name="anio" class="control" placeholder="Año">
                            </div>
                            <div class="elemento">
                                <select name="disponibilidad" class="control" required>
                                    <option value="" disabled selected hidden>Disponibilidad</option>
                                    <option value="EN_STOCK">En STOCK</option>
                                    <option value="SIN_STOCK">Sin STOCK</option>
                                </select>
                            </div>
                            <div class="elemento">
                                <input type="file" name="imagen" class="control" accept=".jpg, .png">
                            </div>
                        </div>
                    <div><button class="boton-crear" type="button" onclick="window.location=''">Crear</button></div>
                    <div><button class="boton-modificar" type="button" onclick="window.location=''">Modificar</button></div>
                    <div><button class="boton-borrar" type="reset" onclick="window.location=''">Borrar</button></div>
                </form>

            </section>

        </main>

        <!--footer-->
        <%- include('./partials/_footer') %>
        <!--/footer-->
        
    </body>
</html>