<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Titulo pestania-->
        <title>Rooster Music</title>
        <!--Tipografía importada por Google:-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!--Hoja de estilos importada: ICONOS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <!--Reset de CSS-->
        <link rel="stylesheet" href="/css/normalize.css">
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>

        <header>

            <div class="header-fila-1">
                <div class="logo"><img src="/images/Logo.JPG" alt="Logo Rooster Music"></div>
                <div class="buscar">
                    <input class="buscar-input" type="search" name="buscar" placeholder="Buscar"><button><i class="fas fa-search buscar-icono"></i></button>
                </div>
                <div class="sesion">
                    <button class="boton-iniciar-sesion" type="button">Iniciar sesión</button>
                    <button class="boton-registrarse" type="button">Registrarse</button>
                </div>
            </div>

            <nav class="header-fila-2">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Categorías</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Formas de Pago</a></li>
                    <li><a href="">Ofertas</a></li>
                </ul>
            </nav>

        </header>

        <div class="banner-promocion"><img src="public\images\banner.jpg" alt="Banner promoción"></div>

        <main>

            <section class="que-estas-buscando">
                <h2>¿QUE ESTAS BUSCANDO?</h2>
                <hr>
                <div class="container-boton-categorias">
                    <div class="boton-categoria"><button>Guitarras</button></div>
                    <div class="boton-categoria"><button>Bajos</button></div>
                    <div class="boton-categoria"><button>Baterías</button></div>
                    <div class="boton-categoria"><button>Ukelele</button></div>
                    <div class="boton-categoria"><button>Viento</button></div>
                    <div class="boton-categoria"><button>Audio</button></div>
                    <div class="boton-categoria"><button>Grabación</button></div>
                    <div class="boton-categoria"><button>Teclados</button></div>
                </div>
            </section>

            <section class="mas-visitados">
                <h2>Mas visitados</h2>
                <hr>
                <div class="container-articulos">
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                </div>
            </section>

            <section class="ofertas-destacadas">
                <h2>Ofertas destacadas</h2>
                <hr>
                <div class="container-articulos">
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar7.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                </div>
            </section>

            <section class="marcas">
                <h2>CONFIAN EN NOSOTROS</h2>
                <hr>
                <div><img class="banner-marcas" src="images/banner_brands.jpg" alt="Marcas"></div>
            </section>






        </main>
        
    </body>
</html>