<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Titulo pestania-->
        <title>Rooster Music</title>
        <!--Tipografía importada por Google:-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!--Hoja de estilos importada: ICONOS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <!--Reset de CSS-->
        <link rel="stylesheet" href="/css/normalize.css">
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/productCart.css">
    </head>
    <body>

        <header>

            <div class="header-fila-1">
                <div class="logo" onclick="window.location='/'"><img src="images/Logo.JPG" alt="Logo Rooster Music"></div>
                <div class="buscar">
                    <input class="buscar-input" type="search" name="buscar" placeholder="Buscar"><button class="buscar-boton"><i class="fas fa-search buscar-icono"></i></button>
                </div>
                <div class="sesion">
                    <button class="boton-iniciar-sesion" type="button" onclick="window.location='/login'">Iniciar sesión</button>
                    <button class="boton-registrarse" type="button" onclick="window.location='/register'">Registrarse</button>
                </div>
            </div>

            <input type="checkbox" id="checkbox-boton-hamburguesa">   <!--Importante usar ID. Su label usa el for solamente con ID-->
            <label for="checkbox-boton-hamburguesa" class="boton-hamburguesa open"><i class="fas fa-bars"></i></label>
            <label for="checkbox-boton-hamburguesa" class="boton-hamburguesa close"><i class="fas fa-times"></i></label>

            <nav class="header-fila-2">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Categorías</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Formas de Pago</a></li>
                    <li><a href="">Ofertas</a></li>
                </ul>
            </nav>

        </header>

        <main>

            <section class="carrito">
                
                <div class="carrito-titulo">
                    <h2 class="texto-carrito-titulo">Carrito</h2><i class="fas fa-shopping-cart carrito-icono"></i>
                </div>
                <hr>
                <div class="container-articulos">
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar1.jpg" alt="guitarra"></div>
                        <div class="articulo-info">
                            <div class="articulo-precio">
                                <h3 class="texto-articulo">Guitarra criolla Fender Vintage colección 2000</h3>
                                <h3 class="texto-precio">$5.000</h3>
                            </div>
                            <div class="articulo-opciones">
                                <ul>
                                    <li><a href="">Eliminar</a></li>
                                    <li><a href="">Seguir comprando</a></li>
                                    <li><a href="">Comprar</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar1.jpg" alt="guitarra"></div>
                        <div class="articulo-info">
                            <div class="articulo-precio">
                                <h3 class="texto-articulo">Teclado Casio 4 octavas</h3>
                                <h3 class="texto-precio">$500</h3>
                            </div>
                            <div class="articulo-opciones">
                                <ul>
                                    <li><a href="">Eliminar</a></li>
                                    <li><a href="">Seguir comprando</a></li>
                                    <li><a href="">Comprar</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="articulo">
                        <div class="articulo-imagen"><img src="images/guitar1.jpg" alt="guitarra"></div>
                        <div class="articulo-info">
                            <div class="articulo-precio">
                                <h3 class="texto-articulo">Violín Clásico Fender</h3>
                                <h3 class="texto-precio">$10.000</h3>
                            </div>
                            <div class="articulo-opciones">
                                <ul>
                                    <li><a href="">Eliminar</a></li>
                                    <li><a href="">Seguir comprando</a></li>
                                    <li><a href="">Comprar</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="envio">
                    <div class="detalle-envio">
                        <h4 class="texto-domicilio">Enviar a Calle 12334, CABA</h4>
                        <h4 class="costo-envio">$300</h4>
                    </div>
                    <div class="detalle-total">
                        <h3 class="texto-total">Total con envío</h3>
                        <h3 class="costo-total">$15.300</h3>
                    </div>
                    <div><button class="boton-comprar" type="button">Comprar</button></div>
                </div>

            </section>

        </main>

        <footer>

            <div class="container-footer">
                <div class="footer-informacion">
                    <h4>INFORMACION</h4>
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Sobre nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Datos bancarios</a></li>
                        <li><a href="">Política de privacidad</a></li>
                    </ul>
                </div>
                <div class="footer-redes">
                    <h4>REDES</h4>
                    <ul>
                        <li><i class="fab fa-facebook-square"></i><a href="">Facebook</a></li>
                        <li><i class="fab fa-instagram-square"></i><a href="">Instagram</a></li>
                        <li><i class="fab fa-twitter-square"></i><a class="texto-twitter" href="">Twitter</a></li>  <!--No se centra bien el texto en el footer, usamos esta clase-->
                    </ul>
                </div>
                <div class="footer-ubicacion">
                    <h4>UBICACION</h4>
                    <div class="footer-mapa"><img src="images/map.jpg" alt="Ubicacion"></div>
                </div>
                <div class="footer-newsletter">
                    <h4>NEWSLETTER</h4>
                    <ul>
                        <li>Ofertas en tu mail</li>
                        <li><input class="newsletter-input" type="text" name="mail" placeholder="Tu mail"></li>
                        <li><button class="boton-subscribirme" type="button">Subscribirme</button></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">© 2021 Grupo 12 - Todos los derechos reservados</p>

        </footer>
        
    </body>
</html>