<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Titulo pestania-->
        <title>Rooster Music</title>
        <!--Tipografía importada por Google:-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!--Hoja de estilos importada: ICONOS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <!--Reset de CSS-->
        <link rel="stylesheet" href="/css/normalize.css">
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/productDetail.css">
    </head>
    <body>

        <header>

            <div class="header-fila-1">
                <div class="logo" onclick="window.location='/'"><img src="images/Logo.JPG" alt="Logo Rooster Music"></div>
                <div class="buscar">
                    <input class="buscar-input" type="search" name="buscar" placeholder="Buscar"><button class="buscar-boton"><i class="fas fa-search buscar-icono"></i></button>
                </div>
                <div class="sesion">
                    <button class="boton-iniciar-sesion" type="button" onclick="window.location='/login'">Iniciar sesión</button>
                    <button class="boton-registrarse" type="button" onclick="window.location='/register'">Registrarse</button>
                </div>
            </div>

            <input type="checkbox" id="checkbox-boton-hamburguesa">   <!--Importante usar ID. Su label usa el for solamente con ID-->
            <label for="checkbox-boton-hamburguesa" class="boton-hamburguesa open"><i class="fas fa-bars"></i></label>
            <label for="checkbox-boton-hamburguesa" class="boton-hamburguesa close"><i class="fas fa-times"></i></label>

            <nav class="header-fila-2">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Categorías</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Formas de Pago</a></li>
                    <li><a href="">Ofertas</a></li>
                </ul>
            </nav>

        </header>

        <main>
            
            <section class="detalle-producto">
                <h2 class="texto-detalle-producto">Detalle del producto</h2>
                <hr>
                <div class="container-detalles">
                    <div class="foto-principal"><img src="images/guitar1.jpg" alt="Foto del producto"></div>
                    <article class="tarjeta">
                        <h4 class="tarjeta-marca">Fender</h4>
                        <h3 class="tarjeta-titulo">Guitarra criolla Fender Vintage colección 2000</h3>
                        <h4 class="tarjeta-stock">En STOCK</h4>
                        <h2 class="tarjeta-precio">$5.000</h2>
                        <ul class="tarjeta-links">
                            <li><a href="">Ver medios de pago</a></li>
                            <li><a href="">Envíos</a></li>
                            <li><a href="">Devoluciones</a></li>
                        </ul>
                        <div class="tarjeta-botones">
                            <div><button class="boton-comprar" type="button">Comprar</button></div>
                            <div><button class="boton-agregar-carrito" type="button" onclick="window.location='/productCart'">Agregar al carrito</button></div>
                        </div>
                    </article>
                    <article class="descripcion">
                        <h4>Descripción</h4>
                        <hr>
                        <h3 class="descripcion-titulo">Guitarra criolla Fender Vintage colección 2000</h3>
                        <p class="descripcion-descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro earum laboriosam sapiente aut similique numquam provident nihil, error amet ducimus vero eaque quidem nam. Perspiciatis provident alias tenetur ea, est aspernatur magnam! Consequuntur ad minus, quas soluta distinctio officiis? Laudantium sequi voluptas id veritatis minus ut illo, praesentium libero aut</p>
                    </article>
                    <article class="ficha">
                        <h4>Ficha técnica</h4>
                        <hr>
                        <ul>
                            <li><h4>Marca:</h4><p>prop1</p></li>
                            <li><h4>Modelo:</h4><p>prop2</p></li>
                            <li><h4>Color:</h4><p>prop3</p></li>
                            <li><h4>Material: </h4><p>prop4</p></li>
                            <li><h4>Origen:</h4><p>prop5</p></li>
                            <li><h4>Año:</h4><p>prop6</p></li>
                            <li><h4>Especial:</h4><p>prop7</p></li>
                        </ul>
                    </article>
                </div>
            </section>

            <section class="productos-similares">
                <h2 class="texto-productos-similares">Productos similares</h2>
                <hr>
                <div class="container-articulos">
                    <article class="articulo" onclick="window.location='/productDetail'">
                        <div class="articulo-imagen"><img src="images/guitar1.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo" onclick="window.location='/productDetail'">
                        <div class="articulo-imagen"><img src="images/guitar1.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo" onclick="window.location='/productDetail'">
                        <div class="articulo-imagen"><img src="images/guitar1.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                    <article class="articulo" onclick="window.location='/productDetail'">
                        <div class="articulo-imagen"><img src="images/guitar1.jpg" alt="guitarra"></div>
                        <hr>
                        <div class="articulo-descripcion">
                            <h3 class="texto-titulo-articulo">Titulo artículo</h3>
                            <h4 class="texto-descripcion-articulo">Descripción del artículo</h4>
                            <h3 class="texto-precio-articulo">Precio $</h3>
                        </div>
                    </article>
                </div>
            </section>

        </main>

        <footer>

            <div class="container-footer">
                <div class="footer-informacion">
                    <h4>INFORMACION</h4>
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Sobre nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Datos bancarios</a></li>
                        <li><a href="">Política de privacidad</a></li>
                    </ul>
                </div>
                <div class="footer-redes">
                    <h4>REDES</h4>
                    <ul>
                        <li><i class="fab fa-facebook-square"></i><a href="">Facebook</a></li>
                        <li><i class="fab fa-instagram-square"></i><a href="">Instagram</a></li>
                        <li><i class="fab fa-twitter-square"></i><a class="texto-twitter" href="">Twitter</a></li>  <!--No se centra bien el texto en el footer, usamos esta clase-->
                    </ul>
                </div>
                <div class="footer-ubicacion">
                    <h4>UBICACION</h4>
                    <div class="footer-mapa"><img src="images/map.jpg" alt="Ubicacion"></div>
                </div>
                <div class="footer-newsletter">
                    <h4>NEWSLETTER</h4>
                    <ul>
                        <li>Ofertas en tu mail</li>
                        <li><input class="newsletter-input" type="text" name="mail" placeholder="Tu mail"></li>
                        <li><button class="boton-subscribirme" type="button">Subscribirme</button></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">© 2021 Grupo 12 - Todos los derechos reservados</p>

        </footer>

    </body>
</html>