/* Generales  ==========================================================================================================================*/

@import url('./partials/_general.css');

/* Header ==============================================================================================================================*/

@import url('./partials/_header.css');

/* Footer ==============================================================================================================================*/

@import url('./partials/_footer.css');

/* Margin Main ==============================================================================================================================*/

header {
    position: static;   /*Para resoluciones pequeñas lo dejo static. Para grandes fixed*/
}

main {
    margin-top: 0px;    /*285px: ok. Lo corremos por el header fixed, así como en sus media queries*/
}

@media (min-width: 768px){
    header {
        position: fixed;
    }

    main {
        margin-top: 210px;
    }
}

@media (min-width: 1200px){
    main {
        margin-top: 250px;
    }
}

/* Main ================================================================================================================================*/

main {
    width: 80%;           /*Para algun espaciado y centrarlo en el body*/
    margin-left: auto;    /*No quiero pisar el margin por el header fixed*/
    margin-right: auto;
}

main section {
    margin: 5% 0;   /*De base uso esto, luego en las medias queries los voy cambiando*/
}

/* Section: CRUD----------------------------------------------------------------------*/

.texto-crud {
    text-align: center;
}

/* FORMULARIO-----------------------------------*/

.formulario {
    background-color: white;
    color: black;
    padding: 4%;              /*Así se ve bien, cambiar lo si es necesario en resoluciones mas grandes*/
    padding-top: 1%;          /*Quito el padding superior*, queda mal*/
    margin: 5% auto;          /*Así se ve bien, cambiar lo si es necesario en resoluciones mas grandes*/
    box-shadow : 0px 0px 10px rgb(100,100,100);
    max-width: 500px;         /*Le doy un tamaño máximo para mobile. Como en resoluciones mas grandes no me afecta lo dejo sinó en las medias queries habrías que usar max-width: none para desabilitarlo*/
    border-radius: 2%;
    text-align: center        /*Centro sus elementos*/
}

.elemento {
    margin: 5% 0;
}

.imagen-formulario img {
    width: 120px; height: 120px;
    object-fit: cover;      /*Sin esta propiedad queda estirada la imagen*/
    border-radius: 50%;     /*Para que sea redonda*/
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 1%;
    text-align: left;
    color: grey;
}

.control {                 /*Son los inputs*/
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
    width: 100%;           /*Para que el input abarque todo el ancho*/
    padding: 10px 10px;
}

.control-error {           /*Son los inputs para error*/
    background-color: #f5e9e9;
    border: solid 1px red;
    border-radius: 5px;
    width: 100%;           /*Para que el input abarque todo el ancho*/
    padding: 10px 10px;
}

.control-correct {         /*Son los inputs para ok*/
    background-color: #e0f5e0;
    border: solid 1px green;
    border-radius: 5px;
    width: 100%;           /*Para que el input abarque todo el ancho*/
    padding: 10px 10px;
}

.input-no-error {          /*Mensaje de JS*/
    display: none;
}

.input-error {             /*Mensaje de JS error + express-validator*/
    display: block;
    margin-top: 1%;
    text-align: left;
    color: red;
}

.input-correct {           /*Mensaje de JS ok*/
    display: block;
    margin-top: 1%;
    text-align: left;
    color: green;
}

.boton-crear, .boton-modificar, .boton-borrar {       /*Características comunes de los bototnes*/
    border: none;
    border-radius: 15px;
    padding: 8px;
    width: 115px;          /*Para que tengan el mismo tamaño*/
    margin: 1% 0;
}

.boton-crear {   /*Característica particular del botón*/
    background-color: #04be74;
    color: white;
    transition: all 0.4s;
    cursor: pointer;
}

.boton-modificar { /*Característica particular del botón*/
    background-color: #3966F5;
    color: white;
    transition: all 0.4s;
    cursor: pointer;
}

.boton-borrar { /*Característica particular del botón*/
    background-color: red;
    color: white;
    transition: all 0.4s;
    cursor: pointer;
}

.boton-crear:hover, .boton-modificar:hover, .boton-borrar:hover {
    background-color: black;
    box-shadow:0px 0px 0px 2px white inset;
}

@media (min-width: 900px){

    .formulario {
        max-width: none;
    }

    .inputs-1, .inputs-2, .inputs-3, .inputs-4, .inputs-5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .elemento{
        margin: 2% 0;       /*Le saco un poco de margen a los inputs*/
        width: 32%;         /*Para que todos sean iguales*/
    }
}

@media (min-width: 1200px){
    .crud {
        max-width: 1200px;
        margin: 4% auto;
    }
}