<header>

    <div class="header-fila-1">
        <div class="logo" onclick="window.location='/'"><img src="/images/Logo.JPG" alt="Logo Rooster Music"></div>
        <form action="/search" method="GET" class="buscar">
            <input class="buscar-input" type="search" name="keyword" placeholder="Buscar"><button type="submit" class="buscar-boton"><i class="fas fa-search buscar-icono"></i></button>
        </form>
        <div class="sesion">
            <button class="boton-iniciar-sesion" type="button" onclick="window.location='/users/login'">Iniciar sesión</button>
            <button class="boton-registrarse" type="button" onclick="window.location='/users/create'">Registrarse</button>
        </div>
    </div>

    <input type="checkbox" id="checkbox-boton-hamburguesa">   <!--Importante usar ID. Su label usa el for solamente con ID-->
    <label for="checkbox-boton-hamburguesa" class="boton-hamburguesa open"><i class="fas fa-bars"></i></label>
    <label for="checkbox-boton-hamburguesa" class="boton-hamburguesa close"><i class="fas fa-times"></i></label>

    <nav class="header-fila-2">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/products/create">Vender</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Pago</a></li>
            <li><a href="">Ofertas</a></li>
        </ul>
    </nav>

</header>