<footer>

    <div class="container-footer">
        <div class="footer-informacion">
            <h4>INFORMACION</h4>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Datos bancarios</a></li>
                <li><a href="">Política de privacidad</a></li>
            </ul>
        </div>
        <div class="footer-redes">
            <h4>REDES</h4>
            <ul>
                <li><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                <li><i class="fab fa-instagram-square"></i><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
                <li><i class="fab fa-twitter-square"></i><a class="texto-twitter" href="https://twitter.com" target="_blank">Twitter</a></li>  <!--No se centra bien el texto en el footer, usamos esta clase-->
            </ul>
        </div>
        <div class="footer-ubicacion">
            <h4>UBICACION</h4>
            <div class="footer-mapa"><img src="/images/map.jpg" alt="Ubicacion" onclick="window.open('https://www.google.com/maps/place/Galer%C3%ADas+Pac%C3%ADfico/@-34.5982696,-58.3793059,16z/data=!4m5!3m4!1s0x95bccacb0b1afcaf:0x8d53a5cf4f399e9c!8m2!3d-34.5992496!4d-58.3747789')"></div>
        </div>
        <div class="footer-newsletter">
            <h4>NEWSLETTER</h4>
            <ul>
                <li>Ofertas en tu mail</li>
                <li><input class="newsletter-input" type="text" name="mail" placeholder="Tu mail"></li>
                <li><button class="boton-subscribirme" type="button">Subscribirme</button></li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="copyright">© 2021 Grupo 12 - Todos los derechos reservados</p>

</footer>