<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Titulo pestania-->
<title>Rooster Music</title>
<!-- Icono en el browser -->
<link rel="icon" type="image/png" href="/images/favicon3.png" sizes="96x96">
<!--Tipografía importada por Google:-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<!--Hoja de estilos importada: ICONOS-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<!--Reset de CSS-->
<link rel="stylesheet" href="/css/normalize.css">
<script src="/js/darkMode.js"></script>