/* Generales  ===================================================*/

* {
    box-sizing: border-box;    /*Necesario, indica que se respetará el tamaño que definimos, hasta el borde menos el margin*/
    /*border: solid 1px black; /*Lo activo/desactivo para ver los bordes de los elementos*/
    /*padding: 5px;              /*Lo activo/desactivo para ver los bordes de los elementos*/
    /*margin: 5px;               /*Lo activo/desactivo para ver los bordes de los elementos*/
}

body {
    font-family: 'Roboto', sans-serif;  /*Se importa de Google*/
    background-color: #F3F7FF;        /*Fndo celeste*/
}

h2 {font-size: 1.50rem;}

h3 {font-size: 1.25rem;}

h4 {font-size: 1rem}

p {font-size: 0.75rem;}

img {width: 100%;}  /*Para que ocupen el 100% de su contenedor*/

/* Header =====================================================*/

header {
    background-color: black;
    color: white;
    padding: 20px;   /*Para que los elementos internos no esten pegados al borde*/
    width: 100%;     /*Con fixed pierde su tamaño*/
    /*position: fixed; /*Recordar que sale del flujo normal del HTML y queda flotando pero la siguiente caja ocupa su lugar, así que hay que arreglarlo. Vamos a modificar el margin-top de .banner-promocion*/
    top: 0;          /*fixed usa el viewport para su posición, debemos indicarle que quede arriba*/
    z-index: 10;     /*Es necesario, sino otros elementos posicionados pasarán por arriba de este*/
}

.logo {
    width: 200px;    /*Está ok para mobile*/
    margin: 0 auto;
}

.logo:hover {
    animation: temblar 0.5s;
    animation-iteration-count: infinite;
}
      
@keyframes temblar {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

.buscar {
    text-align: center;
    margin: 10px auto
}

.buscar-input, .buscar-boton {
    border: none;
    padding: 6px;
    background-color: black;
    color: white;
}

.buscar-input {
    border-bottom: solid 1px grey;
}

.sesion {
    text-align: center;
    margin: 15px auto;
}

.sesion button {
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin: 0 5px;
}

.boton-iniciar-sesion {
    background-color: #3966F5;
    color: white;
}

.boton-registrarse {
    background-color: #04be74;
    color: white;
}

.boton-hamburguesa {
    background-color: black;
    border: solid 1px white;
    color: white;
    display: block;     /*Hará que el fondo del botón (azul) ocupe todo el ancho, así que le ponemos un width. SUPER importante poner block porque me permite configurarle estas opciones.*/
    max-width: 50px;    /*Para que el fondo del botón no sea gigante.*/
    padding: 15px 0;
    border-radius: 8px;
    text-align: center; /*Centra el ícono*/
    font-size: 18px;    /*Tamaño del icono*/
    margin: auto;       /*Recordar que para usar esta propiedad debe tener un width, así que lo podemos usar.*/
}

.header-fila-2 {
    display: none;      /*Lo ocultamos para mobile*/
}

.header-fila-2 ul {
    list-style: none;   /*Elimino punto de los items, así como los márgenes y padding así no hay sangría.*/
    margin: 0;
    padding: 0;
}

.header-fila-2 a {
    text-decoration: none;  /*Elimino su color y estilo*/
    color: white;
    display: inline-block;  /*<a> es un elemento de linea solamente. Para poder ponerle relleno arriba y abajo o cambiarle el tamaño debe ser de bloque => inline-block*/
    padding: 5px 0;
    font-size: 1rem;
}

@media (min-width: 768px){
    .header-fila-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton-hamburguesa {
        display: none;      /*Ocultamos el botón para tablets*/
    }

    .header-fila-2 {
        display: initial;   /*Lo mostramos para tablets*/
    }

    .header-fila-2 ul {
        display: flex;
        justify-content: center;
    }

    .header-fila-2 li {
        margin: 0 2%;       /*Separación de elementos*/
    }
}