/* Generales  ==========================================================================================================================*/

@import url('./partials/_general.css');

/* Header ==============================================================================================================================*/

@import url('./partials/_header.css');

/* Footer ==============================================================================================================================*/

@import url('./partials/_footer.css');

/* Margin Main ==============================================================================================================================*/

main {
    margin-top: 340px;  /*Lo corremos por el header fixed, así como en sus media queries*/
}

@media (min-width: 768px){
    main {
        margin-top: 210px;
    }
}

@media (min-width: 1200px){
    main {
        margin-top: 250px;
    }
}

/* Main ================================================================================================================================*/

main {
    width: 80%;           /*Para algun espaciado y centrarlo en el body*/
    margin-left: auto;    /*No quiero pisar el margin por el header fixed*/
    margin-right: auto;
}

main section {
    margin: 5% 0;         /*De base uso esto, luego en las medias queries los voy cambiando*/
}

/* Section: TODOS LOS PRODUCTOS----------------------------------------------------------------------*/

.articulo {
    background-color: white;
    color: black;
    padding: 4%;              /*Así se ve bien, cambiarlo si es necesario en resoluciones mas grandes*/
    margin: 5% auto;          /*Así se ve bien, cambiarlo si es necesario en resoluciones mas grandes*/
    box-shadow : 0px 0px 10px rgb(100,100,100);
    transition: all .2s;      /*Animación*/
    max-width: 400px;         /*Le doy un tamaño máximo para mobile. Como en resoluciones mas grandes no me afecta lo dejo sinó en las medias queries habrías que usar max-width: none para desabilitarlo*/
    border-radius: 2%;
    cursor: pointer;
}

.articulo:hover {
    transform: scale(1.05);   /*Aumentamos un poco su tamaño*/
}

.texto-titulo-articulo {
    text-align: center;

}    
.texto-descripcion-articulo {
    text-align: center;
    font-weight: lighter;
}

@media (min-width: 768px){
    .container-articulos {
        display: flex;
        flex-wrap: wrap;        /*Respeta el tamaño y pasa a otra fila si no entra*/
        justify-content: center;
        align-items: center;
    }

    .articulo {
        width: 40%;
        margin: 2%;
        padding: 2%;
    }
}

@media (min-width: 1200px){
    .todos-productos {
        max-width: 1400px;
        margin: 4% auto;     /*Para alinear estos elementos ya que tienen un nuevo width*/
    }

    .articulo {
        width: 28%;
        margin: 1.5%;
        padding: 1%;
    }
}